/* = Общие стили
************************/
body {
	margin: 0;
	font: 14px/1.8 Helvetica, Arial;
	color: green;
}
a {text-decoration: none;}

/* =Стили для header'а
************************/
#header {
	display: block;
	margin: 0; 
	background: #f9f9f9;
}		
.back { font:normal 3em 'Agency FB'; color: #0074A3; position:absolute; top: 10px; right: 10%;}
.back:hover {text-decoration: underline;}
#header h1 {margin: 0 0 0 2em; }
#header h1 a { display: inline-block; font: normal 3em 'Agency FB'; text-decoration: none; }
.how { color: #990000; }
.to { color: #0074A3; }
.make { color: #006600; }
.demo { font: normal 2em 'Agency FB';}

/* Main	*/
#main {
	width: 94%;
	padding: 1% 3%;
}

#icon {
	width: 100px;
	height: 100px;
	margin-left: 80px;	
	border-radius: 50px;
	border: 1px solid #000000;;
}

#main h1 { 
	color: #990000;
	text-align: center;
	font: 2.2em Helvetica, Arial; 
	margin: 20px 0 10px 0;
	padding-bottom: 15px;
	border-bottom: 2px solid #444444; 
}
.clear {
	margin-top: -1px;
	height: 1px;
	clear:both;
	zoom: 1;
}

/* Стили для формы */
.form_box {
	width: 17.5%;
    top: 0;
    right: 0;
    bottom: 0;
	left: 0;
    margin: auto;
	background-color: #f9f9f9;
}

.form_style p {
  margin-bottom: 25px;
  position: relative;
}
.form_style .rcheck {
  margin-bottom: 10px;
}
.form_style p label {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	display: block;
  cursor: pointer;
}
.form_style .rcheck label {
	font-size: 13px;
	font-weight: normal;
	color: #000000;
	display: inline;
  vertical-align: top;
}
.form_style input[type="text"] {
	display: block;
	border: 2px solid #000000;
	font-size: 14px;
	color: #000000;
	padding: 7px 7px 8px;
	width: 250px;
}
.form_style input[type="password"] {
	display: block;
	border: 2px solid #000000;
	font-size: 14px;
	color: #000000;
	padding: 7px 7px 8px;
	width: 250px;
}
.form_style input[type="checkbox"] {
	display: inline-block;
  border: 1px solid #000000;
  width: 14px;
  margin: 4px 4px 0 0;
  vertical-align: top;
}
.form_style input:focus {
	outline: none;
	border-color: #07a6e6;
}
.form_style .btnsubmit {
	margin-left: 18%;
	border: none;
	width: 180px;
	text-align: center;
	background: #000000;
	font-size: 13px;
	font-weight: bold;
	color: #ff0000;
	cursor: pointer;
	height: 35px;
	line-height: 28px;
	padding: 0;
}
.form_style input.rf_error {
  border-color: #d8512d;
}
.form_style .rfield_error {
  display: block;
  padding: 0px 10px;
  background-color: #d8512d;
  color: rgb(0, 0, 0);
  font-size: 12px;
  z-index: 1;
  position: absolute;
  top: 25px;
  left: auto;
  right: 2px;
  visibility: hidden;
}
.form_style .rcheck .rfield_error {
  top: 0px;
  left: 22px;
  right: auto;
}
.form_style .btnsubmit:hover {
	background: #009ac2;
}
.form_style .btnsubmit:active {
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
  outline: none;
}
.form_style .btnsubmit:focus {
  outline: none;
}
.form_style .btnsubmit.disabled,
.form_style .btnsubmit.disabled:hover {
	background: #afdde6;
	cursor: default;

}
.User
{
	height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
}
.leftImg
{
    height: 22px;
    width: 22px;
    float: right;
    margin-left: 30%;
    border: 1px solid black;
}
